@import "tailwindcss";

@theme {
  --font-homeHero: "Lexend", "serif";
  --font-header: "Lora", "serif";
  --font-body: "Roboto", serif;
  --font-Lato: "Lato", sans-serif;
  --color-body: #f7f7f7;
  --color-primary: #136acd;
  --color-secondary: #22df2e;
  --color-white: #fff;
  --color-black: #000;
}
